In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import webbrowser
from datetime import datetime

# Dados do exemplo
data = pd.read_csv('C:/Users/adria/1Python/Meu_novo_projeto/WINJ23/WINJ23.csv')
#data["time"] = pd.to_datetime(data["time"], unit='s')
df = data

# Cria um subplot com dois eixos verticais (um para o gráfico de velas e outro para o volume)
fig = make_subplots(rows=2, cols=1, shared_xaxes=True, vertical_spacing=0.05)

# Plota o gráfico de velas no primeiro subplot
fig.add_trace(go.Candlestick(x=df['time'],
                open=df['open'],
                high=df['high'],
                low=df['low'],
                close=df['close'], name='WINJ23'), row=1, col=1)

# Plota o volume no segundo subplot
fig.add_trace(go.Bar(x=df['time'], y=df['real_volume'], name='Volume'), row=2, col=1)

# Define o layout do gráfico
fig.update_layout(title='Gráfico de candle com volume',
                  yaxis=dict(title='Preço'),
                  yaxis2=dict(title='Volume', side='right'),
                  xaxis_rangeslider_visible=False)

# Salva o gráfico em HTML
fig.write_html('grafico.html')

# Abre o arquivo HTML em uma nova janela do navegador
webbrowser.open_new_tab('grafico.html')

True

In [2]:
df

,time,open,high,low,close,tick_volume,real_volume
0,2023-02-15 09:00:00,109800.0,109855.0,109700.0,109720.0,5747,15098
1,2023-02-15 09:01:00,109725.0,109755.0,109560.0,109645.0,14416,30965
2,2023-02-15 09:02:00,109645.0,109675.0,109615.0,109655.0,5494,12944
3,2023-02-15 09:03:00,109655.0,109770.0,109595.0,109760.0,8754,23357
4,2023-02-15 09:04:00,109755.0,109920.0,109745.0,109900.0,13076,32759
...,...,...,...,...,...,...,...
6543,2023-03-06 18:21:00,106020.0,106025.0,105975.0,105975.0,788,2892
6544,2023-03-06 18:22:00,105975.0,106025.0,105950.0,105980.0,2005,7049
6545,2023-03-06 18:23:00,105980.0,105990.0,105950.0,105960.0,1156,3189
6546,2023-03-06 18:24:00,105960.0,105970.0,105860.0,105865.0,1004,3680
6547,2023-03-06 18:31:00,105980.0,105980.0,105980.0,105980.0,1208,8828